html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 600px;
    height: 300px;
    margin: 50px;
    border: 2px solid black;
    display: flex;
    overflow: hidden;

}
main{
    display: flex;
    transition-property: transform;
    transition-duration: 500ms;
}
main div{
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    text-align: center;
    line-height: 300px;
}
nav{
    position: absolute;
    bottom: 20%;
}